<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/cart.css">
    <title>Store Manager | Add-To-Cart</title>
</head>

<body>
    <header>
        <div class="nav-bar">
            <div class="logo"><a href="index.html">SM</a></div>
            <nav>
                <div class="nav"><a href="products.html">Products</a></div>
                <div class="nav"><a href="sales-record.html">Sales</a></div>
                <div class="add-attendant nav">Add Attendant</div>
                <div class="nav"><a href="index.html">Logout</a></div>
                <div class="hamburger">
                    <span>&#8801;</span>
                    <div class="dropdown">
                        <div><a href="products.html">Products</a></div>
                        <div><a href="sales-record.html">Sales</a></div>
                        <div class="add-attendant">Add Attendant</div>
                        <div><a href="index.html">Logout</a></div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="welcome-area">

            <div class="content">
                <h1><strong>SALES CART</strong></h1>
                <div class="add-to-cart-area">
                    <div class="add-to-cart-div">
                        <form action="">
                            <h1>Add items here</h1>
                            <label for="username">Category:</label>
                            <input type="text" placeholder="Category" autofocus autocomplete="">
                            <label for="Product">Product:</label>
                            <input type="text" placeholder="Product name">
                            <div class="number-inputs">
                                <div>
                                    <label for="Quantity">Quantity:</label>
                                    <input type="number" placeholder="Quantity">
                                </div>
                                <div>
                                    <label for="Price">Price:</label>
                                    <input type="number" placeholder="Price">
                                </div>
                                <div>
                                    <label for="Amount">Amount:</label>
                                    <input type="number" placeholder="Amount">
                                </div>
                            </div>
                            <input type="submit" value="Add to cart">
                        </form>
                    </div>
                    <div class="cart">
                        <div class="cart-header">
                            <div class="serial-number">S/N</div>
                            <div class="product">Product</div>
                            <div class="cart-cart-quantity">Qty</div>
                            <div class="amount">Amount</div>
                            <div class="total">Total</div>
                        </div>
                        <div class="cart-elements">
                            <div class="serial-number">1</div>
                            <div class="product">Jean</div>
                            <div class="cart-quantity">10</div>
                            <div class="amount">25000</div>
                            <div class="total" style="color: transparent">10000</div>
                        </div>
                        <div class="cart-elements1">
                            <div class="serial-number">2</div>
                            <div class="product">Milo</div>
                            <div class="cart-quantity">20</div>
                            <div class="amount">10000</div>
                            <div class="total" style="color: transparent">10000</div>
                        </div>
                        <div class="cart-elements">
                            <div class="serial-number">3</div>
                            <div class="product">Milo</div>
                            <div class="cart-quantity">20</div>
                            <div class="amount">10000</div>
                            <div class="total" style="color: transparent">10000</div>
                        </div>
                        <div class="cart-elements1">
                            <div class="serial-number">4</div>
                            <div class="product">Milo</div>
                            <div class="cart-quantity">20</div>
                            <div class="amount">10000</div>
                            <div class="total" style="color: transparent">10000</div>
                        </div>
                        <div class="cart-elements">
                            <div class="serial-number">5</div>
                            <div class="product">Milo</div>
                            <div class="cart-quantity">20</div>
                            <div class="amount">10000</div>
                            <div class="total" style="color: transparent">10000</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal">
        <form action="add-to-cart.html" class="signup-form">
            <div class="cancel">&#9746;</div>
            <h1>Create New Attendant</h1>
            <label for="email">Email:</label>
            <input type="text" placeholder="Email" autofocus autocomplete="">
            <label for="password">Password:</label>
            <input type="password" placeholder="Password">
            <input type="submit" value="Submit">
        </form>
    </div>

    <script src="js/cart.js"></script>
    <script src="js/fetch/signup.js"></script>
    <script src="js/fetch/jwt-decode.min.js"></script>
</body>

</html>