body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  .container {
    background-image: url("../images/homebg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  
  .welcome-area {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(31, 56, 95, 0.9);
    position: absolute;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    max-width: 960px;
    margin: 0 auto;
  }
  
  h1 {
    color: #fff;
    flex: 1;
    text-align: center;
  }
  
  .login-area,
  .add-to-cart-area {
    display: flex;
    flex: 1;
    justify-content: space-around;
    max-width: 960px;
    margin: 50px auto;
    padding: 0 10px;
  }
  
  .app-intro {
    text-align: center;
    flex: 1;
    color: #fff;
    width: 600px;
  }
  
  .login-div,
  .add-to-cart-div {
    flex: 1;
  }
  
  form {
    border: #fff 1px solid;
    border-radius: 10px;
    padding: 10px;
  }
  
  form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    color: #fff;
    font-weight: bold;
  }
  
  form input {
    background: #fff;
    outline: none;
    border: none;
    display: block;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
  }
  
  form input[type="submit"] {
    background: green;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px #000;
  }